*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    height: 100px;
    width: 100%;
    background-color: blueviolet;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}
p{
    text-align: center;
    color: red;
}