* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header {
  height: 100px;
  width: 100%;
  background-color: blueviolet;
  display: flex;
  justify-content: space-between;
}
.is-hidden {
  display: none;
}
/*.opaque{
    opacity: 0.5;
    background-color: black;
}
.no-opaque{
    opacity: 1;
    background-color: white;
}*/
.main {
  display: flex;
}
.portfolio {
  padding: 15px;
  background-color: coral;
  height: 70px;
  border-radius: 12px;
  margin-left: 30px;
  margin-top: 15px;
}
.link {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-right: 40px;
}
.link > a {
  color: white;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

p {
  text-align: center;
}
.bordure {
  padding: 30px;
  background-color: coral;
  width: 100%;
  max-width: 400px;
  margin-left: 50%;
  margin-right: 50%;
  transform: translate(-50%, 0);
  margin-top: 100px;
  border: 1px solid coral;
  border-radius: 30px;
  text-align: center;
}
.cv {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -45%);
  background-color: coral;
}
.container {
  width: 800px;
  height: 700px;
  overflow: scroll;
}
.cv_image {
  width: 100%;
}
.btn_cv {
  z-index: 999;
  padding: 5px;
}
.btn_container {
  display: flex;
  justify-content: space-between;
}
.btn_open_cv {
  padding: 20px;
  background-color: coral;
  width: 100px;
  border-radius: 20px;
  margin: 40px auto 0 auto;
}
.btn_cv:hover,
.btn_open_cv:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}
.projet_image {
  width: 300px;
}

.link-projet {
  color: black;
}
.link-projet:hover {
  color: white;
}
.container-projet {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
}
.container-projet-color {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 20px;
  border: 2px black solid;
}
.container-projet-color > p {
  margin: 20px 0;
}
.container-projet-color > ul {
  width: 40%;
}
.container-projet-color-form {
  background-color: coral;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 10px;
}
.container-projet-color-form:hover {
  text-decoration: none;
  color: white;
  background-color: black;
}
